apiVersion: apps/v1 
kind: Deployment
metadata:
  name: nginx-dlopez2
  labels:
    app: nginx
  namespace: dlopez2
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1 
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
      - name: html
        configMap:
          name: index.html
          items:
          - key: index.html
            path: index.html
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80


#    spec:
#      containers:
#      - name: nginx
#        image: nginx:1.19.6
#        ports:
#          - containerPort: 80
#        lifecycle:
#          postStart:
#            exec:
#              command: ["/bin/sh", "-c", "echo '<html><body>Hello from the postStart handler<body></html>' > /usr/share/nginx/html/index.html"]
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: dlopez2
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80