kind: ConfigMap  
apiVersion: v1  
metadata:  
  name: nginx-index-html-configmap  
  namespace: dlopez2   
  labels:  
    app: nginx  
data:  
  index.html: |  
---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: nginx-dlopez2
  labels:
    app: nginx
  namespace: dlopez2
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1 
  template:
    metadata:
      labels:
        app: nginx
    spec:  
      containers:  
      - name: nginx 
        image: nginx:stable
        ports:
        - containerPort: 80 
        volumeMounts:  
          mountPath: /use/share/nginx/html/
          name: html-files  
      volumes:  
      - name: html-files  
        configMap:  
          name: nginx-index-html-configmap


#    spec:
#      volumes:
 #     - name: html
#        configMap:
#          name: nginx-index-html-configmap
#          items:
#          - key: index.html
#            path: index.html
#
#      containers:
#      - name: nginx
#        image: nginx:stable
#        ports:
#          - containerPort: 80


#---
#apiVersion: v1
#kind: Pod
#metadata:
#  name: nginx
#  labels:
#    name: nginx
#spec:
#  containers:
#  - name: nginx
#    image: nginx
#    ports:
#      - containerPort: 80
#    volumeMounts:
#      - mountPath: /usr/share/nginx/html
 #       name: nginx-conf
#        subPath: index.html
#  volumes:
#    - name: nginx-conf
#      configMap:
#        name: nginx-index-html-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: dlopez2
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      
